<tr>
  <%= form_for(list, method: 'put', remote: true, class: 'list_form') do |f| %>
    <td colspan="3"><%= f.text_field :title, value: list.title, class: 'list_title' %></td>
    <td><%= list.user.email %></td>
  <% end %>
  <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% list.all_items.each_with_index do |item, index| %>
  <%= render :partial => 'items/form', :locals => {item: item, index: index} %>
<% end %>
